# slushy-build-source: aiofile==3.12.3
# slushy-build-source: annotated-types==0.8.0
# slushy-build-source: anyio==4.14.2
# slushy-build-source: asyncssh==2.24.0
# slushy-build-source: attrs==26.1.0
# slushy-build-source: authlib==1.7.2
# slushy-build-source: bcrypt==5.0.0
# slushy-build-source: beartype==0.22.9
# slushy-build-source: cachetools==7.1.7
# slushy-build-source: caio==0.12.2
# slushy-build-source: calver==2025.10.20
# slushy-build-source: certifi==2026.7.22
# slushy-build-source: cffi==2.0.0
# slushy-build-source: cffi==2.1.1
# slushy-build-source: click==8.4.2
# slushy-build-source: coherent-licensed==0.5.2
# slushy-build-source: cryptography==50.0.0
# slushy-build-source: cyclopts==4.22.5
# slushy-build-source: decorator==5.3.1
# slushy-build-source: dnspython==2.8.0
# slushy-build-source: docstring-parser==0.18.0
# slushy-build-source: dunamai==1.26.1
# slushy-build-source: exceptiongroup==1.3.1
# slushy-build-source: fakeredis==2.34.1
# slushy-build-source: fastmcp==3.4.7
# slushy-build-source: fastmcp-slim==3.4.7
# slushy-build-source: flit-scm==1.7.0
# slushy-build-source: griffelib==2.1.0
# slushy-build-source: hatch-fancy-pypi-readme==25.1.0
# slushy-build-source: hatch-vcs==0.5.0
# slushy-build-source: httpcore==1.0.9
# slushy-build-source: httpx==0.28.1
# slushy-build-source: httpx-sse==0.4.3
# slushy-build-source: jaraco-classes==3.4.0
# slushy-build-source: jaraco-context==6.1.2
# slushy-build-source: jaraco-functools==4.6.0
# slushy-build-source: jeepney==0.9.0
# slushy-build-source: jinja2==3.1.6
# slushy-build-source: joserfc==1.7.4
# slushy-build-source: jsonref==1.1.0
# slushy-build-source: jsonschema==4.26.0
# slushy-build-source: jsonschema-path==0.5.0
# slushy-build-source: jsonschema-specifications==2025.9.1
# slushy-build-source: keyring==25.7.0
# slushy-build-source: markdown-it-py==4.2.0
# slushy-build-source: markupsafe==3.0.3
# slushy-build-source: maturin==1.14.1
# slushy-build-source: mcp==1.29.0
# slushy-build-source: mdurl==0.1.2
# slushy-build-source: more-itertools==11.1.0
# slushy-build-source: openapi-pydantic==0.5.1
# slushy-build-source: opentelemetry-api==1.44.0
# slushy-build-source: pathable==0.6.0
# slushy-build-source: platformdirs==4.11.2
# slushy-build-source: pluggy==1.6.0
# slushy-build-source: py-key-value-aio==0.4.5
# slushy-build-source: pyasn1==0.6.4
# slushy-build-source: pyasn1-modules==0.4.2
# slushy-build-source: pycparser==3.0
# slushy-build-source: pydantic==2.13.4
# slushy-build-source: pydantic-core==2.46.4
# slushy-build-source: pydantic-settings==2.15.0
# slushy-build-source: pygments==2.20.0
# slushy-build-source: pyjwt==2.13.0
# slushy-build-source: pyperclip==1.11.0
# slushy-build-source: python-dotenv==1.2.2
# slushy-build-source: python-multipart==0.0.32
# slushy-build-source: pyyaml==6.0.3
# slushy-build-source: redis==8.1.0
# slushy-build-source: referencing==0.37.0
# slushy-build-source: rich==15.0.0
# slushy-build-source: rich-rst==2.1.0
# slushy-build-source: rpds-py==2026.6.3
# slushy-build-source: secretstorage==3.5.0
# slushy-build-source: setuptools-rust==1.13.0
# slushy-build-source: setuptools-scm==10.2.0
# slushy-build-source: sse-starlette==3.4.8
# slushy-build-source: starlette==1.6.0
# slushy-build-source: tomlkit==0.15.0
# slushy-build-source: trove-classifiers==2026.6.1.19
# slushy-build-source: typing-extensions==4.16.0
# slushy-build-source: typing-inspection==0.4.4
# slushy-build-source: uncalled-for==0.4.0
# slushy-build-source: uv-build==0.11.7
# slushy-build-source: uv-dynamic-versioning==0.14.0
# slushy-build-source: uvicorn==0.52.2
# slushy-build-source: vcs-versioning==2.2.2
# slushy-build-source: watchfiles==1.2.0
# slushy-build-source: websockets==17.0.1
# slushy-build-source: wheel==0.47.0
calver
cffi>=2.0.0
coherent-licensed
cython>=3.0
flit-core<4,>=3.12,~=3.5
flit-scm
hatch-fancy-pypi-readme>=23.2.0
hatch-vcs>=0.5
hatchling>=1.29
maturin<2.0,>=1.14.1
packaging>=20
pdm-backend
pdm-pep517>=1.0.0
poetry-core>=1.0.0
setuptools>=80
setuptools-rust>=1.11.0
setuptools-scm[toml]>=8.2
uv-build<0.11.8,>=0.11.4
uv-dynamic-versioning>=0.7.0
vcs-versioning<3,>=2.0.0.dev0
wheel
