# slushy-build-source: idna==3.19
# slushy-build-source: packaging==26.2
# slushy-build-source: packaging==26.3
# slushy-build-source: pathspec==1.1.1
# slushy-build-source: pyyaml==6.0.3
cython>=3.0
flit-core<5,>=3.12
setuptools>=40.8.0
