name: Build and publish
on:
  push:
    tags:
      - '*'

permissions:
  contents: read

jobs:
  build:
    name: Build sdist and wheel
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Show environment
        run: |
          set -x
          python -VV
          python -m site
          ls -ld $(python -c "import site; print(site.getsitepackages()[0])")
          git tag --list --sort=-refname --format='%(refname:short) %(objectname:short)'
          whoami

      - name: Install build tools
        run: |
         python -m pip install --upgrade pip
         python -m pip install build

      - name: Build
        run: python -m build --sdist --wheel

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: artifacts
          path: dist
          if-no-files-found: error

  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs:
      - build

    environment:
      name: pypi
      url: https://pypi.org/p/linux-mcp-server

    permissions:
      id-token: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: artifacts
          path: dist

      - name: Show environment
        run: |
          set -x
          python -VV
          python -m site
          ls -ld $(python -c "import site; print(site.getsitepackages()[0])")
          ls -l dist/
          whoami

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
