name: Functional Tests Nightly

on:
  schedule:
    # This runs at 03:00 UTC every day
    - cron: '0 3 * * *'

  workflow_dispatch:

permissions:
  contents: read

jobs:
  tf-functional-tests:
    name: Functional Tests (Testing Farm)
    runs-on: ubuntu-latest
    container:
      image: quay.io/testing-farm/cli
    env:
      MCP_SERVER_TESTS_PROJECT_URL: "https://gitlab.cee.redhat.com/rhel-lightspeed/mcp/mcp-server-testing/"
      MCP_SERVER_TESTS_PROJECT_BRANCH: main
      ARCH: x86_64
      COMPOSE: Fedora-43
      PLAN: general
      TESTING_FARM_API_TOKEN: ${{ secrets.TESTING_FARM_API_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run TF request tests
        run: |
          echo "Starting functional tests..."
          TESTING_FARM_API_TOKEN=$TESTING_FARM_API_TOKEN testing-farm request \
            --git-url "$MCP_SERVER_TESTS_PROJECT_URL" \
            --git-ref "$MCP_SERVER_TESTS_PROJECT_BRANCH" \
            --arch "$ARCH" \
            --compose "$COMPOSE" \
            --tag BusinessUnit=rhel_sst_lightspeed@downstream \
            --plan "$PLAN"
            echo "Functional tests finished!"
